@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */

*{
	outline:0;padding: 0;margin:0;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}


/* iPhone 6 portrait 
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
.will-be-used { 
        float: center;
        position: relative;
        width: 100%;
}

/* iPads portrait 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: portrait)
.will-be-used {
        float: center;
        position: relative;
        width: 50%;
}

/* Desktops and laptops 
@media only screen 
and (min-width : 1224px) 
{

}

/* Large screens 
@media only screen 
and (min-width : 1824px) {

}
*/

.default {
	overflow: hidden;
	float: center;
	position: relative;
	min-width: 350px;
	background: #ffffff;
	font-family: "Montserrat", serif;
	color: #000000;
	text-align: center;
	font-size: 1em;
}

/* HERO */
.hero {
	margin-top: 5em;
	margin-bottom: 2em;
}

.hero img{
	max-width: 350px;
	margin-top: 1em;
}

/* CONTACT */
.box {

}

.box p {
	padding-top: 44%;
}

#box1 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/mnbnaver.png');
	background-repeat: no-repeat;
}

#box2 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/mnbfb.png');
	background-repeat: no-repeat;
}

#box3 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/mnbemail.png');
	background-repeat: no-repeat;
}

#box4 {
	display: inline-block;
	width: 350px; 
	height: 206px; 
	margin: auto;
	background-image:url('images/mnblocation.png');
	background-repeat: no-repeat;
}

/* COPYWRITE */
.copywrite {
	margin-top: 1em;
	margin-bottom: 1em;
}