@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); /* Hanna font */

*{
	outline:0;padding: 0;margin:0;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}


/* iPhone 6 portrait 
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
.will-be-used { 
        float: center;
        position: relative;
        width: 100%;
}

/* iPads portrait 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: portrait)
.will-be-used {
        float: center;
        position: relative;
        width: 50%;
}

/* Desktops and laptops 
@media only screen 
and (min-width : 1224px) 
{

}

/* Large screens 
@media only screen 
and (min-width : 1824px) {

}
*/



/* Body */
.basis
{
	overflow: hidden;
	background: #020102;
	font-family: "Hanna";
	font-size: 3em;
	color: #ffffff;
	text-align: center;
}

/* Footer */
.footer
{	
	overflow: hidden;
	position: relative;
	min-width: 320px;
	width: 100%;
	background: #43f4e1;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	color: #ffffff;
	text-align: center;
}
